@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./fonts/Satoshi-Medium.woff2') format('woff2'),
        url('./fonts/Satoshi-Medium.woff') format('woff'),
        url('./fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

:root {
  --background: #03070c;
  --foreground: #171717;
  background-color: var(--background);
  color: #eaeaea;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

html,
body,
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Satoshi-Medium;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
