#fiberpage-container {
    height: 100%;
    width: 100%;
    position: relative;
}

#friend-container {
    position: absolute;
    top:0px;
    right:-1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* height: fit-content; */
    margin: 0;
    height: 100%;
    padding: 10px;
    width: 30%;
    overflow-y : auto;
    scrollbar-color: black #0d0c1113;
    scrollbar-width: thin;
    max-width: 400px;
    min-width: 150px;
    z-index: 10;
}

#star-bg {
    position: absolute;
    top:0px;
    right:0px;
    background-image: url("/images/star.svg");
    background-size: 10%;
    animation: pan 100s linear infinite;
    will-change: background-position;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 10;
}

@keyframes pan {
    0% {
        background-position: 0%, 0%
    }
    100% {
        background-position: 100%, 0%;
    }
}

#friend-close-btn {
    background-color: #1d242c;
    color: #eaeaea;
    border: solid 1px #8f8f8f;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 40;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding: 1px 6px;
}

#friend-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 100%; */
    /* width: 100%; */
    margin-top: 6px;
    z-index: 20;
    /* overflow: hidden; */
}

#friend-name {
    margin-right: 32px;
    word-break: break-word;
}
#photo-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
 
#friend-photo{
    height: 64px;
    width: 64px;
}
  
#profile-buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#copy-focus {
    display: flex;
    gap: 10px;
}

#add-friends-btn {
    border: none;
    color: #eaeaea;
    font-weight: bold;
    transition: all 0.5s ease;
    background-color: transparent;
    background: none;
}

#add-friends-btn:hover {
    color: #618cc0;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.game {
    background-color: #03070C;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
} 


.game-metadata {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

/* Used because some icons have a gray pixel on each of the four corners */
.game-icon {
    border-radius: 3px; 
}

#thread-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;

    button {
        color: #eaeaea
    }
}

.thread-btn, .steam-names-btn  {
    border: 0;
    background-color: transparent;
    padding: 0;
    text-align: start;
}

.steam-names-btn {
    color: #eaeaea;
    width: 100%;
}

.thread-btn {
    transition: opacity 300ms ease;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#thread-container:hover > .thread-btn {
    opacity: 0.3;
}

#thread-container:hover > .thread-btn:hover {
    opacity: 1;
}



#fiber-line {
    position: absolute;
    width: 1px;
    height: 100%;
    /* overflow: hidden; */
    max-height: 0;
    background-color: #eaeaea;
    opacity: 1;
    top:0;
    left:0;
    content: "";
    transition: max-height 0.5s ease,
}

.loading-dot{
    display: inline-block;
    padding-left: 1px;
    /* height: fit-content; */
    /* width: fit-content; */
    /* transform: translate(50px, 100px); */
    /* padding; */
    animation: loading 2s ease infinite;
    /* transform: translate(10px,10px); */
}

.loading-dot:nth-child(1) {
    /* color: white; */
    animation-delay: 0s;
}
.loading-dot:nth-child(2) {
    /* color: yellow; */
    animation-delay: 500ms;
}
.loading-dot:nth-child(3) {
    /* color: green; */
    animation-delay: 1000ms;
}

@keyframes loading {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0,-5px);
    }
    100% {
        transform: translate(0,0);
    }
}

#search-wrapper {
    position: absolute;
    top:10px;
    left:10px;
    height: auto;
    width: fit-content;
}
#search-container {
    position: relative;
    width: fit-content;
    /* top:10px;
    left:10px; */
}

#prev-users-wrapper {
    position: relative;
    background-color: #000000;
    padding-top: 5px;
    height: 125px;
    width: 100%;

    max-height: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    z-index: 10;
}

#previous-users {
    /* position: relative; */
    /* background-color: #000000; */
    /* z-index: 30; */
    /* padding-top: 1px; */

    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    max-width: 155px;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: #eaeaea #0d0c1113;
    scrollbar-width: thin;
    /* overflow-x: hidden; */
}

#camera-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:40px;
    left:10px;
    gap: 5px;
    overflow-y : auto;
}

#select-btns {
    display: flex;
    gap: 10px;
    width: fit-content;
    button {
        background-color: #1d242c;
        color: #eaeaea;
        border: solid 1px #8f8f8f;
        padding: 1px 6px;
    }
}

#toggleCameraSettings {
    background-color: #0d0c1113;
}

.settings-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    div {
        display: flex;
        gap: 5px;
    }
    button {
        background-color: #1d242c;
        color: #eaeaea;
        border: solid 1px #8f8f8f;
        padding: 1px 6px;
    }
}
  
.camera-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.arrow {
    position: absolute;
    right:0;
    transform: translate(10px,10px);
    width: fit-content;
    height: fit-content;
}

.thread-arrow {
    transform: scaleY(-1);
}

#zoom-btns {
    display: flex;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    cursor: pointer;
}

#horizontal-degrees {
    display: flex;
    flex-direction: column;
}

#fortyfive-degrees {
    padding: 1px 10px;
}

button,.cursor-pointer{
    cursor: pointer;
}

input[type="text"] {
    color: black;
    border: solid 1px #8f8f8f;
    padding: 1px 6px;
    width: 100px;
}

#error-text {
    position: absolute;
    left: -10px;
    top: 20px;
    background-color: #1d242c;
    padding: 5px;
    border-radius: 10px;
}

#error-text::before {
    position: absolute;
    /* background-color: blue; */
    content: "";
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #1d242c;
    /* z-index: 1; */
    top:-15px;
    left: 25px;
}

h2 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.8rem;
}

p, #add-friends-btn, .thread-btn {
    font-size: 0.8rem;
} 

@media (min-width: 1050px) {
    #friend-container {
        width: 25%;
    }

}

@media (min-width: 700px) {
    #friend-container {
        width: 25%;
        min-width: 220px;
    }
    #friend-photo{
        height: 100px;
        width: 100px;
    }
    #photo-status {
        flex-direction: row;
    }

    #friend-profile {
        margin-top: 6px;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    p, #add-friends-btn, .thread-btn {
        font-size: 1rem;
    }     
    #copy-focus {
        flex-direction: column;
    }    
    #friend-hide-btn {
        position: absolute;
        right: 3px;
    }
}


@media (min-width: 370px) {
    input[type="text"] {
        width: 120px;
    } 
    #previous-users {
        max-width: 175px;
    }
}


@media (min-width: 400px) {
    input[type="text"] {
        width: 155px;
    } 
    #previous-users {
        max-width: 210px;
    }
}