* {
    margin: 0;
    padding: 0;
}

#form-page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#form-page {
    position: absolute;
    width: 100%;
    height: 100%;
    /* min-width: 500px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    position: absolute;
    top: 5vh;
    display: flex;
    align-items: center;
    gap: 5px;
}

#form-button {
    opacity: 0.4;
    transition: all 0.5s ease;
    background-color: #ffffff00;
    border: 0px ;
    font-size: medium;
    margin: 0;
    padding: 0;
    color: #eaeaea;
    cursor: pointer;
}

#form-button:hover {
    opacity: 1;
}

#close-form-btn {
    cursor: pointer;
    background-color: black;
    color: #eaeaea;
    font-weight: bold;
    border: 0;
    font-size: large;
}

#form-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: start; */
    gap: 10px;
    background-color: #000000ad;
    padding: 10px;
    border-radius: 10px;
    /* width: 50%; */
    /* min-width: 20px; */
}

#database-wrapper {
    position: absolute;

    background-color: #000000e0;
    /* padding: 10px; */
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    gap: 15px;

    height: 50%;
    /* max-height: 300px; */
    border-radius: 5px;
}

#database-title {
    position: absolute;
    left: 0;
    transform: translate(0, -30px);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    cursor: pointer;

    background-color: black;
    color: #eaeaea;
    font-weight: bold;
    border: 0;
    font-size: large;
}

#database-component {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    z-index: 10;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: #eaeaea #000000;
    scrollbar-width: thin;
}

#footer {
    position: absolute;
    z-index: 10;
    background-color: #000000e0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    gap: 10px;
    max-width: 400px;
    min-width: 250px;
}

#help-component{
    position: absolute;
    z-index: 10;
    background-color: #000000e0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    min-width: 250px;
    max-width: 400px;
    img {
        height: auto;
        width: auto
    }
    button {
        position: absolute;
        right: 0;
        transform: translate(0, -40px);
        width: fit-content;
        height: fit-content;
        padding: 5px;
        cursor: pointer;
    }
}

#help-image {
    display: none;
}

a {
    color: #eaeaea;
    font-weight: bold;
    transition: all 0.5s ease;
}

a:hover {
    color: #618cc0;
}

#canvas-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

input[type="submit"] {
    background-color: #1d242c;
    color: #eaeaea;
    border: solid 1px #8f8f8f;
    padding: 1px 6px;
}

.database-btn {
    border: 0;
    top:5px;
    right:-30px;
    position: absolute;
    background-color: transparent;
    padding: 0px 6px;
    /* margin: 0; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.steamName-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    text-align: start;
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #eaeaea;
    height: fit-content;
}

.steamName-btn:first-child {
    margin-right: 10px;
}

#close-database-btn {
    position: absolute;
    right: 0;
    transform: translate(0, -30px);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    cursor: pointer;

    background-color: black;
    color: #eaeaea;
    font-weight: bold;
    border: 0;
    font-size: large;
}

/* input[type="number"] {
    color: black;
    border: solid 1px #8f8f8f;
    padding: 1px 6px;
} */

#info-button {
    background-color: #1d242c;
    color: #eaeaea;
    border: solid 1px #8f8f8f;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 10;
    font-size: large;
    cursor: pointer;
    padding: 1px 6px;
}

.database-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-text {
    position: absolute;
    background-color: black;
    color: rgb(243, 81, 81);
    width: fit-content;
    height: fit-content;
}

@media (min-height: 440px) {
    #help-image {
        display: block;
    }
}