#wk_wrapper {
    position: absolute;
    top:0px;
    left: 0;
    margin: 0;
    /* width: 100vw; 
    height: 100vh;  */
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.76);
}

.wk_wrapper2 {
    width: 100vw; 
    height: 100vh; 
    pointer-events: none; /* Initially make the entire wrapper non-interactive */
    -webkit-mask-image: radial-gradient(circle at center, transparent 58px, black 59px);
    mask-image: radial-gradient(circle at center, transparent 58px, black 59px);
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
}

.wk_content {
    width: 100%;
    height: 100%;
}

#wk_one {
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;   
    text-align: center;
    /* z-index: 400; */
}

#wk_one {
    text-align: center;
    padding: 2rem;
}

#wk_three {
    text-align: right;
    padding: 2rem;
}

#wk_one div {
    display: flex;
    gap: 0.4rem
}

#wk_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#ct_one {
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: calc(50% - 25px);
}

#ct_two {
    pointer-events: auto;
    /* background-color: red; */
    transform: translateY(calc(50px));
    width: 100%;
    height: calc(50% - 25px);
}

.ct_side {
    pointer-events: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: blue; */
    width: calc(50% - 25px);
    height: 100%;
}

.wk_content .ct_side:nth-child(4) {
    left: calc(50% + 25px);
    /* background-color: purple; */

}

#wk_three {
    position: absolute;
    top: 0;
    left: 0;
    width: 75vw;

    /* Width needs to be responsive like friend-container */
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.friend_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#wk_four, #wk_five {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 250px;
    width: calc(100vw - 250px);
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.76);
    color: white;
}

#wk_four {
    align-items: flex-end;
}

#wk_five {
    align-items: flex-start;
}   

#wk_four span {
    background-color: #1d242c;
    color: #eaeaea;
    border: solid 1px #8f8f8f;
    font-weight: bold;
    font-size: large;
    padding: 0.5rem;
}

.wk_cover {
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.76);
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width: 400px) {
    #wk_four, #wk_five {
        padding: 1rem;
        left: 225px;
        width: calc(100vw - 225px);
    }
}

@media screen and (max-width: 370px) {
    #wk_four, #wk_five {
        left: 200px;
        width: calc(100vw - 200px);
    }
}

.search_info_btn {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 0.4rem;
    /* color: var(--) */
}

.search_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 


.friend_info img, .search_info img {
    height: 30px;
    aspect-ratio: 1;
}

.search_info img {
    align-self: flex-start;
}

#search_camara {
    position: relative;
}

#search_camara img:nth-child(2) {
    transform-origin: top left;
    transform: scale(0.4) translate(-15px, 10px);
}

#wk_six {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 300px;
    min-width: 150px;
    text-align: center;
}

#wk_wrapper button {
    background-color: #1d242c;
    color: #eaeaea;
    border: solid 1px #8f8f8f;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    padding: 0.5rem;
}


@media (max-width: 1050px) {
    #wk_three {
        width: 75vw;
    }
}
@media (max-width: 870px) {
    #wk_three {
        width: calc(100vw - 215px);
    }
}

@media (max-width: 700px) {
    #wk_three {
        width: 70vw;
    }
}

@media (max-width: 500px) {
    #wk_three {
        width: calc(100vw - 145px);
    }
}
@media (min-width: 1600px) {
    #wk_three {
        width: calc(100vw - 400px);
    }

}

.wks_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    button {
        width: fit-content;
    }
}

.scroll_wk {
    overflow-y: auto;
    overflow-x: visible;
}